@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #310a53;
    --color-secundaria: #d29fff;
    --color-terciaria: #f0dfff;
    --color-hover: #120220;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
.color-1 {color: #8800ff;}
.color-2 {color: #9720ff;}
.color-3 {color: #a640ff;}
.color-4 {color: #b560ff;}
.color-5 {color: #c480ff;}
.color-6 {color: #d29fff;}
.color-7 {color: #e1bfff;}
.color-8 {color: #f0dfff;}

.headerPrincipal-nav-link {
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid var(--color-secundaria);
}

.headerPrincipal-nav-link:hover {
    margin-top: 10px;
    color: var(--color-primaria);
    background-color: var(--color-secundaria);
    font-family: var(--fuente-krona);
}
*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}
.container {
	width: 94%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.headerPrincipal {
	background-color: var(--color-secundaria);
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
    
	
}

.headerPrincipal-titulo {
    margin: 10px;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
    font-family: var(--fuente-krona);
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav {
	text-align: center;
	display: flex;
	flex-direction: row;
}	

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color:var(--color-secundaria);
	background-color:var(--color-primaria);
	text-decoration: none;
	transition: .5s;
	display: block;
    font-family: var(--fuente-krona);
	border-bottom: 1px solid var(--color-secundaria);
}
.presentacion{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.presentacion__contenido__titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}
.titulo-destaque{
    color: var(--color-secundaria);
}
.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}
.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1rem;
    font-weight:400;
}
.presentacion__enlaces__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.4rem;
    color: var(--color-terciaria);
    font-weight: 600;
    text-decoration: none;
    gap: 15px;
    border: 2px solid var(--color-secundaria);
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.presentacion__enlaces__link{
    background-color: var(--color-hover);
}
.presentacion__imagen{
    width: 30%;
    border-radius: 15px;
    border: var(--color-secundaria) solid 3px;
}
.footer{
    background-color: var(--color-hover);
    color: var(--color-terciaria);
    padding: 30px;
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 800;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .presentacion__contenido{
        padding: 5% 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .presentacion{
        display: flex;
        flex-direction: column-reverse;
        padding: 5px;
    }
    .presentacion__imagen{
        width: 50%;
        border-radius: 15px;
        border: var(--color-secundaria) solid 3px;
    }
    .presentacion__contenido__titulo{
        font-size: 1.5rem;
        font-family: var(--fuente-krona);
    }
    .presentacion__contenido__texto{
        font-size: 1rem;
        font-family: var(--fuente-montserrat);
    }
    .presentacion__enlaces__subtitulo{
        font-family: var(--fuente-krona);
        font-size: 0.8rem;
        font-weight:400;
    }
    .presentacion__enlaces__link{
        display: flex;
        font-family: var(--fuente-montserrat);
        font-size: 1rem;
        color: var(--color-terciaria);
        font-weight: 600;
        text-decoration: none;
        gap: 15px;
        border: 2px solid var(--color-secundaria);
        border-radius: 8px;
        text-align: center;
        justify-content: center;
        padding: 5px;
    }
    .footer{
        background-color: var(--color-hover);
        color: var(--color-terciaria);
        padding: 30px;
        text-align: center;
        font-family: var(--fuente-krona);
        font-size: 1.2rem;
        font-weight: 800;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}