@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primaria: #310a53;
    --color-secundaria: #d29fff;
    --color-terciaria: #f0dfff;
    --color-hover: #120220;
    --color-1 : #8800ff;
    --color-2 : #0877ff;
    --color-3 : #012cd9;
    --color-4 : #b560ff;
    --color-5 : #c480ff;
    --color-6 : #d29fff;
    --color-7 : #e1bfff;
    --color-8 : #f0dfff;
    --color-9 : #65d6ff;


    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

.elemento{
    display: flex;
    background-color:var(--color-9);
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    align-items: center;
}

.elemento_1{
    display: flex;
    background-color: #f4f6f1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:var(--color-9);
}
.elemento_2{
    display: flex;
    background-color: #f4f6f1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:var(--color-9);
}
.elemento_3{
    display: flex;
    background-color: #f4f6f1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:var(--color-9);
}
.elemento__titulo{
    color: rgb(49, 49, 49);
    font-family: var(--fuente-krona);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
.elemento__figura{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.elemento__figura--imagen{
    width: 40vw;
    max-width: 600px;
    margin-bottom: 1rem;
    height: 25vw;
    border-radius: 25px;
    border:3px solid var(--color-2);

}
.elemento__figura--texto{
    font-family: var(--fuente-montserrat);
    font-weight: 700;
    font-size: 2rem;
}
.elemento__boton{
    font-family: var(--fuente-montserrat);
    color: var(--color-3);
    border: 2px solid var(--color-2);
    border-radius: 8px;
    padding: 8px;
    justify-content: space-around;
    font-weight: 900;
    font-size: 1.2rem;
}